{% extends "base.html" %}

{% block content %}
    <h1>Active Polls</h1>
    {% if polls %}
        <ul class="list-group">
            {% for poll in polls %}
                <li class="list-group-item">
                    <h5>{{ poll.title }}</h5>
                    <p>{{ poll.description }}</p>
                    <a href="{{ url_for('vote', poll_id=poll.id) }}" class="btn btn-primary">Vote</a>
                    <a href="{{ url_for('results', poll_id=poll.id) }}" class="btn btn-secondary">Results</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls available.</p>
    {% endif %}
{% endblock %}
